table button {
    height: 100%;
    width: 100%;
    font-size:70px;
};

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#grid {
    border:1px solid black;
    width: 500px;
    height: 500px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}

#grid div {
    width: 25px;
    height: 25px;
    font-size: x-small;
}

.snake{
    background-color:rgba(36, 203, 50, 0.781);

}

.apple{
    background-color: red;
}

table {
    width:500px;
    height:250px;
};
